<p>&nbsp;</p>																				

<br>
	<p>Eine kleine Auswahl freiheitlicher Literatur in deutscher Sprache alphabetisch geordnet nach den Autoren: </p>
<br><br><br><br>


<div id="output">
	<table border="0" width="100%">
		<% @books.each do |book|%>
			<tr>
				<td><p style="font-size: 18px;"><%=book.title%><br>

				von <%=book.author%></p>

				<p> @ <%=book.year%> / <%=book.pages%> Seiten / <%=book.publisher%> <br>
				ISBN-13: <%=book.isbn%> <br>
				<% if book.description %>
				<%=book.description%>
				<% end %>
				</p>
				</td>
				<td width="35%"><img src="<%= url("slider/" + book.image)%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		<% end %>
		</table>
	</div>
			
<p>&nbsp;</p>


<br><br><br>
<li style="list-style:none inside none;";> &nbsp;
 <a href="/" shape="rect">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
