        <div id="slider1">  
	        <ul id="slider1Content">
          
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/baader.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/baader2.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/baader3.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
		   
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/baader4.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
		   
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/baader6.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/blankertz3.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
		  
		  
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/blankertz.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/blankertz5.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/blankertz2.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/otto1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/david1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/hayek.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/hoppe1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/hoppe2.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/hoppe3.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/janich.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/janich2.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/soeren1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/samuel1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/lennartz.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/marquart.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/carl1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/alice1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/alice2.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
		  
                 <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/mises22.jpg")%>" />  
                  <span class="bottom" style="display: inline;">
                  </span> 
                </a> 
              </li>
         
                
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/mises55.jpg")%>" />  
                  <span class="bottom" style="display: inline;">
                  </span>                      
                </a> 
              </li>
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/mises1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
                  
              <li class="slider1Image"> 
                <a href="" shape="rect"> 
                  <img src="<%= url("slider/mises44.jpg")%>" />  
                  <span class="bottom" style="display: inline;">
                  </span> 
                </a> 
              </li>
              
        
     
     
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/murphy1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            

              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/akif1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/ayn1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/murray2.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
           
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/murray.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/lysander1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
           
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/andre1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/max1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/rahim1.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/rahim2.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              <li class="slider1Image"> 
                <a href=""  shape="rect"> 
                  <img src="<%= url("slider/rahim3.jpg")%>" />  
                  <span class="bottom" style="display: inline;"> 
                    <strong></strong>  
                    <br clear="none" />
                  </span> 
                </a> 
              </li>
              
            
              
              
              

          <!---------------------------------------------------------------------- Bilder Ende  --------------------------------------------------------------------------------> 
              
              
              
              
              
              <li class="slider1Image" style="clear:both"></li>
            </ul>  
            <div id="sliderLeftMask"></div>  
            <div id="sliderRightMask"></div> 
