<p>&nbsp;</p>																				

<br>
	<p>Eine kleine Auswahl freiheitlicher Literatur in deutscher Sprache alphabetisch geordnet nach den Autoren: </p>
<br><br><br><br>
		

		<table border="0" width="100%">
	
		
			<tr>
				<td><p style="font-size: 18px;">Kreide für den Wolf - die tödliche Illusion vom besiegten Sozialismus <br>

von Roland Baader</p>

<p> @ 1991 / Anita Tykwe Verlag  <br>
ISBN-13: 978-3925434471 <br>

</p>
</td>
				<td width="35%"><img src="<%= url("slider/baader1.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
		
			
		
			<tr>
				<td><p style="font-size: 18px;">Die belogene Generation<br>

von Roland Baader</p>

<p> @ 1999 / 224 Seiten / Resch Verlag <br>
ISBN-13: 978-3930039678 <br>

</p>
</td>
				<td width="35%"><img src="<%= url("slider/baader22.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
		
			
		
			<tr>
				<td><p style="font-size: 18px;">Geld, Gold und Gottspieler <br>

von Roland Baader</p>

<p> @ 2004 / 344 Seiten / Resch Verlag <br>
ISBN-13: 978-3935197427 <br>
<p>Buchvorlesung: <a href="http://www.youtube.com/watch?v=rluAwmU9iPs" target="_blank" > als Video</a>
</p>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/baader33.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
		
			
		
			<tr>
				<td><p style="font-size: 18px;">Das Kapital am Pranger: Ein Kompaß durch den politischen Begriffsnebel<br>

von Roland Baader</p>

<p> @ 2005 / 304 Seiten / Resch Verlag <br>
ISBN-13: 978-3935197458 <br>
<p>Buchvorstellung: <a href="http://www.youtube.com/watch?v=pkbzdUBmIWA" target="_blank" > als Videointerview</a>
</p>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/baader44.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
		
		
			
		
			<tr>
				<td><p style="font-size: 18px;">Freiheitsfunken: Aphoristische Impfungen<br>

von Roland Baader</p>

<p> @ 2012 / 114 Seiten / Resch Verlag <br>
ISBN-13: 978-3939562177 <br>

</p>
</td>
				<td width="35%"><img src="<%= url("slider/baader66.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
		
		
		
			<tr>
				<td><p style="font-size: 18px;">Staatlichkeitswahn <br>

von Stefan Blankertz & Paul Goodman</p>

<p> @ 1980 / 160 Seiten / Büchse der Pandora  <br>
ISBN-13: 978-3881780339 <br>

</p>
</td>
				<td width="35%"><img src="<%= url("slider/blankertz33.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
		
		
		
			
			
			
		
			
			<tr>
				<td><p style="font-size: 18px;">Das libertäre Manifest <br>

von Stefan Blankertz </p>

<p> @ 2002 / 382 Seiten / Books on Demand  <br>
 ISBN-13: 978-3831118694 <br>
<p>Hier herunterladen: <a href="http://docs.mises.de/Blankertz/Manifest.pdf" target="_blank" > als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/blankertz1.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
		
		
			
			<tr>
				<td><p style="font-size: 18px;">Einladung zur Gestalttherapie: Eine Einführung mit Beispielen <br>

von Stefan Blankertz & Erhard Doubrawa</p>

<p> @ 2010 / 88 Seiten / Peter Hammer  <br>
 ISBN-13: 978-3779503033 <br>
<p>Leseprobe: <a href="http://www.gestalt.de/gestalttherapie-einladung.html" target="_blank" > auf gestalt.de</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/blankertz55.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
			
				
			
			
			
			
			
			<tr>
				<td><p style="font-size: 18px;">Die Katastrophe der Befreiung: Faschismus und Demokratie <br>

von Stefan Blankertz </p>

<p> @ 2013 / 324 Seiten / Books on Demand  <br>
ISBN-13: 978-3732246212 <br>
<p>Leseprobe: <a href="http://www.stefanblankertz.de/public_home/article/67/1" target="_blank" > auf stefanblankertz.de</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/blankertz22.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
				
			
			
			
			
			<tr>
				<td><p style="font-size: 18px;">Pfaffenspiegel <br>

von Otto von Corvin </p>

<p> @ 1845 / 339 Seiten / Freistühle  <br>
ISBN-13: 978-3872370167 <br>
<p>Hier herunterladen: <a href="http://www.atheisten-info.at/downloads/corvin.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/otto11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
			
			
			
			
			<tr>
				<td><p style="font-size: 18px;">Das Räderwerk der Freiheit - Für einen radikalen Kapitalismus <br>

von David D. Friedman </p>

<p> @ 1989 / 320 Seiten / Books on Demand  <br>
ISBN-13: 978-3833005299 <br>

</td>
				<td width="35%"><img src="<%= url("slider/david11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
	
	
	
	
			<tr>
				<td><p style="font-size: 18px;">Der Weg zur Knechtschaft<br>

von Friedrich August von Hayek </p>

<p> @ 1944 / 336 Seiten / Olzog Verlag  <br>
ISBN-13: 978-3789283628 <br>
<p>Buchvorstellung: <a href="http://www.youtube.com/watch?v=2IN2vF2H-JU" target="_blank" > als Video</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/hayek1.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
	
		
		
			<tr>
				<td><p style="font-size: 18px;">Eigentum, Anarchie und Staat<br>

von Hans Hermann Hoppe </p>

<p> @ 1987 / 200 Seiten / VS Verlag für Sozialwissenschaften  <br>
ISBN-13: 978-3531118116 <br>
<p>Hier herunterladen: <a href="http://docs.mises.de/Hoppe/Hoppe_Eigentum_Anarchie_Staat.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/hoppe11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
	

		
			<tr>
				<td><p style="font-size: 18px;">Demokratie - Der Gott, der keiner ist <br>

von Hans Hermann Hoppe </p>

<p> @ 2003 / 547 Seiten / Manuscriptum  <br>
ISBN-13: 978-3933497864 <br>
<p>Leseprobe: <a href="http://www.manuscriptum.de/uploads/tx_ttproducts/datasheet/Rezensionen-Demokratie_Der_Gott_der_keiner_ist.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/hoppe22.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
	
			
	

		
			<tr>
				<td><p style="font-size: 18px;">Der Wettbewerb der Gauner <br>

von Hans Hermann Hoppe </p>

<p> @ 2012 / 91 Seiten / Holzinger Verlag  <br>
ISBN-13: 978-3926396587 <br>
<p>Buchvorstellung: <a href="http://www.hanshoppe.com/2012/02/der-wettbewerb-der-gauner-uber-das-unwesen-der-demokratie-und-den-ausweg-in-die-privatrechtsgesellschaft/"target="_blank"> 
auf Hans Hoppe.com</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/hoppe33.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
	
	
	
	
	
			<tr>
				<td><p style="font-size: 18px;">Das Kapitalismus-Komplott<br>

von Oliver Janich </p>

<p> @ 2012 / 528 Seiten / FinanzBuch Verlag  <br>
ISBN-13: 978-3898797184 <br>
<p>Leseprobe: <a href="http://www.oliverjanich.de/helfen-sie/" target="_blank" > auf oliverjanich.de</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/janich1.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			



			<tr>
				<td><p style="font-size: 18px;">Die vereinigten Staaten von Europa<br>

von Oliver Janich </p>

<p> @ 2013 / 512 Seiten / FinanzBuch Verlag  <br>
ISBN-13: 978-3898798204 <br>
<p>Leseprobe: <a href="http://www.oliverjanich.de/helfen-sie/" target="_blank" > auf oliverjanich.de</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/janich22.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			





			<tr>
				<td><p style="font-size: 18px;">Entweder - Oder<br>

von Sören Kierkegaard </p>

<p> @ 1843 / 574 Seiten / Penelope Hochstädter  <br>
ASIN: B00IRJ948A<br>

</td>
				<td width="35%"><img src="<%= url("slider/soeren11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			






			<tr>
				<td><p style="font-size: 18px;">Das Neulibertäre (Agoristische) Manifest<br>

von Samuel Edward Konkin III </p>

<p> @ 1980 / 41 Seiten / BLL  <br>
 nur als pdf<br>
<p>Hier herunterladen: <a href="http://agorism.info/docs/dasneulibertaeremanifest.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/samuel11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			


			
		
			<tr>
				<td><p style="font-size: 18px;">Praxeologie für Ordnung und Sezession <br>

von Norbert Lennartz </p>

<p> @ 2014 / 95 Seiten / Holzinger Verlag  <br>
ISBN-13: 978-3926396754 <br>
<p>Leseprobe: <a href="http://www.apriorist.de/modx/blog/buch-253.html" target="_blank" > auf apriorist.de</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/lennartz1.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			


			
		
			<tr>
				<td><p style="font-size: 18px;">Warum andere auf Ihre Kosten immer reicher werden<br>

von Andreas Marquart & Philipp Bagus </p>

<p> @ 2014 / 192 Seiten / FinanzBuch Verlag   <br>
ISBN-13: 978-3898798570<br>
<p>Buchvorstellung: <a href="http://www.youtube.com/watch?v=5fza28opafs" target="_blank" > als Videointerview</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/marquart1.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			

			
		
			<tr>
				<td><p style="font-size: 18px;">Grundsätze der Volkswirtschaftslehre<br>

von Carl Menger </p>

<p> @ 1923 / 312 Seiten / Let Me Print  <br>
ISBN-13: 978-1146357395<br>
<p>Hier herunterladen: <a href="http://docs.mises.de/Menger/Menger_Grundsaetze.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/carl11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			

	

			
		
			<tr>
				<td><p style="font-size: 18px;">Das Drama des begabten Kindes<br>

von Alice Miller </p>

<p> @ 1979 / 196 Seiten / Suhrkamp Verlag  <br>
ISBN-13: 978-3518374504<br>
<p>Hier herunterladen: <a href="http://www2.hu-berlin.de/sachbuchforschung/CONTENT/SBDB/pix/PDF/Miller-Drama-Inhalt.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/alice11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			


	

			
		
			<tr>
				<td><p style="font-size: 18px;">Dein gerettetes Leben: Wege zur Befreiung<br>

von Alice Miller </p>

<p> @ 2007 / 319 Seiten / Suhrkamp Verlag  <br>
ISBN-13: 978-3518419342<br>
<p>Buchvorstellung: <a href="http://www.alice-miller.com/bucher_de.php" target="_blank" > auf alice-miller.com</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/alice22.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			


			
			
			
			<tr>
				<td><p style="font-size: 18px;">Theorie des Geldes und der Umlaufsmittel <br>

von Ludwig von Mises  </p>

<p> @ 1912 / 420 Seiten / Duncker & Humblot  <br>
 	ISBN 	978-3-428-11882-3  <br>
<p>Hier herunterladen: <a href="http://mises.org/books/theoriedesgeldes.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/mises2.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			

	

			
			<tr>
				<td><p style="font-size: 18px;">Die Gemeinwirtschaft - Untersuchungen über den Sozialismus <br>

von Ludwig von Mises  </p>

<p> @ 1932 / 518 Seiten / Lucius & Lucius   <br>
 ISBN 	978-3-8282-0411-9  <br>
<p>Hier herunterladen: <a href="http://docs.mises.de/Mises/Mises_Gemeinwirtschaft.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/mises5.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
					
			
			
			
			<tr>
				<td><p style="font-size: 18px;">Nationalökonomie - Theorie des Handelns und Wirtschaftens <br>

von Ludwig von Mises  </p>

<p> @ 1940 / 756 Seiten / buchausgabe.de <br>
ISBN-10: 3942239000 / ISBN-13: 978-3942239004 <br>
<p>Hier herunterladen: <a href="http://www.misesde.org/wordpress/wp-content/uploads/nationaloekonomie.epub"target="_blank"> als EPub-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/mises.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
	
	
			<tr>
				<td><p style="font-size: 18px;">	Die Bürokratie <br>

von Ludwig von Mises  </p>

<p> @ 1944 / 128 Seiten / Academia Verlag   <br>
 	ISBN 	978-3-89665-316-1   <br>
<p>Hier herunterladen: <a href="http://docs.mises.de/Mises/Mises_Buerokratie.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/mises4.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	
		

		
	
			<tr>
				<td><p style="font-size: 18px;">	Produktion der Sicherheit <br>

von Gustave de Molinari  </p>

<p> @ 1849 / 56 Seiten / CreateSpace Independent Publishing Platform   <br>
 	ISBN 	978-1503273474   <br>
<p>Leseprobe: <a href="http://docs.mises.de/Molinari/Molinari_Produktion_von_Sicherheit.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/moli1.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	

	
			<tr>
				<td><p style="font-size: 18px;">Chaos Theory  <br>

von Robert P. Murphy  </p>

<p> @ 2002 / 54 Seiten / fwf  <br>
nur als pdf <br>
<p>Hier herunterladen: <a href="http://www.freiwilligfrei.info/wp-content/uploads/2013/07/Robert-P.-Murphy-Chaos-Theory-Deutsch.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/murphy11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	
		
		
	
			<tr>
				<td><p style="font-size: 18px;">Deutschland von Sinnen<br>

von Akif Pirinçci  </p>

<p> @ 2014 / 276 Seiten / Manuscriptum  <br>
ISBN-13: 978-3944872049  <br>
<p>Buchvorstellung: <a href="http://www.deutschland-von-sinnen.de/ueber-das-buch/"target="_blank"> als deutschland-von-sinnen.de</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/akif11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	
	
	
			<tr>
				<td><p style="font-size: 18px;">Atlas shrugged - Der Streik<br>

von Ayn Rand </p>

<p> @ 1957 / 1260 Seiten / John, Kai M.  <br>
ISBN-13: 978-3000370946  <br>
<p>Kinofilm-Trailer: <a href="http://www.youtube.com/watch?v=vvBPBtgliO4"target="_blank"> als Video</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/ayn11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	
			

		
			<tr>
				<td><p style="font-size: 18px;">Für eine neue Freiheit: Band 1 von 3 - Staat und Krieg <br>

von Murray N. Rothbard </p>

<p> @ 1973 / 220 Seiten / Books on Demand  <br>
ISBN-13: 978-3848230907<br>

</td>
				<td width="35%"><img src="<%= url("slider/murray22.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
			
			
	
			<tr>
				<td><p style="font-size: 18px;">Die Ethik der Freiheit <br>

von Murray N. Rothbard </p>

<p> @ 1980 / 284 Seiten / academia Richarz <br>
ISBN-13: 978-3896655981  <br>
<p>Buchvorstellung: <a href="http://www.youtube.com/watch?v=2F3yfz26yeg"target="_blank"> als Video </a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/murray1.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	
			
			
	
			<tr>
				<td><p style="font-size: 18px;">Kein Landesverrat: die Verfassung besitzt keine Autorität <br>

von Lysander Spooner </p>

<p> @ 1867 / 62 Seiten / Edition Anares <br>
ISBN-13: 978-3905052718  <br>

</td>
				<td width="35%"><img src="<%= url("slider/lysander11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	
		
		
			
	
			<tr>
				<td><p style="font-size: 18px;">... und ich war nie in der Schule <br>

von Andre Stern </p>

<p> @ 2013 / 184 Seiten / Herder <br>
ISBN-13: 978-3451065521  <br>
<p>Buchvorstellung: <a href="http://www.andrestern.com/de/veroeffentlichungen.html"_blank"> auf andrestern.com </a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/andre11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	
		
		
			
	
			<tr>
				<td><p style="font-size: 18px;">Der Einzige und sein Eigentum <br>

von Max Stirner </p>

<p> @ 1844 / 197 Seiten / Reclam <br>
ISBN-13: 978-3150030578  <br>
<p>Hier herunterladen: <a href="http://www.dreigliederung.de/download/stirnereinzige.pdf"target="_blank"> als pdf-Datei</a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/max11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	
		
		
		
		
		
	
			<tr>
				<td><p style="font-size: 18px;"> Wirtschaft wirklich verstehen: Einführung in die Österreichische Schule  <br>

von Rahim Taghizadegan </p>

<p> @ 2011 / 288 Seiten / FinanzBuch Verlag <br>
ISBN-13: 978-3898796248 <br>
<p>Buchvorstellung: <a href="http://wertewirtschaft.org/buecher/"target="_blank"> auf wertewirtschaft.de </a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/rahim11.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	
		
		
		
	
			<tr>
				<td><p style="font-size: 18px;"> Vom Systemtrottel zum Wutbürger  <br>

von Rahim Taghizadegan & Eugen Maria Schulak</p>

<p> @ 2011 / 156 Seiten / Ecowin Verlag <br>
ISBN-13: 978-3711000170 <br>
<p>Buchvorstellung: <a href="http://wertewirtschaft.org/buecher/"target="_blank"> auf wertewirtschaft.de </a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/rahim22.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	
		
		
		
		
	
			<tr>
				<td><p style="font-size: 18px;">Das Ende der Wut <br>

von Rahim Taghizadegan & Eugen M. Schulak & Roland Düringer</p>

<p> @ 2012 / 88 Seiten / Ecowin Verlag <br>
ISBN-13: 978-3711000262 <br>
<p>Buchvorstellung: <a href="http://wertewirtschaft.org/buecher/"target="_blank"> auf wertewirtschaft.de </a>
</p>
</td>
				<td width="35%"><img src="<%= url("slider/rahim33.jpg")%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
	
		
		
		
			
			<!-- hier weier -->
			
			<tr>
				<td></td>
				<td width="35%"></td>
			</tr>
			
			<tr>
				<td colspan="2"><!--<hr>--></td>				
			</tr>
			<tr>
				<td></td>
				<td width="35%"></td>
			</tr>
			<tr>
				<td colspan="2"><!--<hr>--></td>				
			</tr>
			<tr>
				<td></td>
				<td width="35%"></td>
			</tr>

		</table>
		



			
		<p>&nbsp;</p>


<br><br><br>
<li style="list-style:none inside none;";> &nbsp;
 <a href="/" shape="rect">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
