<div id="main"><br>

																								
<p>	<p style="font-size: 18px;">Hi Leute,</p>

<br><br>
hier habt ihr nun die Möglichkeit uns via ask.fm sämtliche fragen zu stellen, die euch im Herzen brennen. <br>
Wir werden alle Fragen so gut und so schnell es uns möglich ist ausführlich beantworten. Los geht`s ...

<br><br><br><br><br>

<li> <a href="http://ask.fm/GlobaleFreiheit" title="" target="_blank" shape="rect">
	ask.fm/GlobaleFreiheit </a></li> 


<br><br><br> <p>&nbsp;</p> 

<p style="text-align: center">***</p>
			

<br><br><br>
Aber auch sonst wünschen wir viel Spaß und neue Erkenntnisse beim Stöbern durch unsere Seite
mit inzwischen über 300 Artikeln von über 100 Autoren, sowie einigen Podcasts, Videos und diverser Musik unvm.  <br>
Dazu könnt ihr auch praktischerweise die Übersicht über alle Rubriken, 
sowie die Übersicht über alle Autoren in den bunten Button, siehe unten, nutzen. 
Dort findet ihr auch eine Übersicht vieler hervorragender Bücher in deutscher Sprache, 
sowie eine umfassende Linkliste zu vielen freiheitlichen Blogs und Internetseiten, 
ausserdem noch eine ständig aktualisierte Übersicht über kommende weltweite Events, sowie unserer Partner und 
schliesslich noch fast alles über Bitcoin, denen wir eine extra Sektion eingeräumt haben.
<br><br>Viel Spaß auf unserer Seite ... Freiheit rockt!
<br><br>
			<p style="text-align: center">***</p>
			
			
 
<br><br>
Wer uns direkt kontaktieren möchte, kann dies jederzeit gerne tun unter:

 <br><br><br>
e-mail: info@globalefreiheit.de 

<br><br>
oder 
<br><br>

Handy: 0174 - 7730554 
<br><br><br>
Wir freuen uns über jede persönliche Anfrage.
<br><br>
Wir suchen auch ständig: Autoren, Filmemacher, Übersetzer, Künstler, Rezensenten ... uvm. 

<br><br><br>
			<p style="text-align: center">***</p>
			
<br><br>

Natürlich freuen wir uns auch über jede kleine oder grosse Spende, <br>
um unser Angebot ständig erweitern und auch in Zukunft neue Projekte realisieren zu können ...
<br><br>
Unser Spendenkonto bei der Fidor Bank:
<br><br>
BIC FDDODEMMXXX <br>
IBAN DE72700222000072044630
<br><br>
Unsere Bitcoinaddresse:
<br><br>
1ApaWHomv8Vt9hAcfSV7uPFn3MPojVZnS8
<br><br>
Vielen Dank!
			
			
			
	<br><br><br>
			<p style="text-align: center">***</p>
			
<br><br>		
			
			
			
 <p>&nbsp;</p> 

"Freiheit ist kein Modell, Freiheit ist Risiko. <br>
Wo das Risiko beginnt, an diesem Punkt fängt man an zu leben.<br>
Dort beginnt die Liebe."<br>
(Karl Heinz)
</p>







<br><br>
	<p>&nbsp;</p>
			
              <ul style="list-style:none inside none; text-transform:uppercase;margin:0;padding:0;">
                <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left" style="text-align: left">
					<span style="text-transform: none"><a href="<%= url('/')%>" shape="rect">
					<font size=3 font face="Segoe Script"font color="#FF0000">
					... zurückblättern</font></a></span></p>
                </li>
              
         




</div> 
       
      <div id="sidebar"> 
                  	
            <p style="font-size: 18px;text-align:center;"></p>
            
            	    
            	    
            	    
            	    
            	    
            	    
               <div class="bloc rounded" style="margin-top:40px;text-align:left; background-color:#99CCFF">  
                            
                <ul><li><a href="<%=url("/article/61")%>" title="">Begriffe und <br>Unterscheidungen </li></ul>
               				
  			  </div>
  			  
			 
              
    
               <div class="bloc rounded" style="margin-top:40px;text-align:left; background-color:#99CCFF">  
                            
                <ul><li><a href="<%=url("/faq")%>" title="">FAQs <br>(Konzeptpapier) </li></ul>
               				
  			  </div>
			  
		
		 <div class="bloc rounded" style="margin-top:40px;text-align:left; background-color:#99CCFF">  
                            
                <ul><li><a href="<%=url("/article/282")%>" title="">2084 - der Mensch <br> am Mikro </li></ul>
               				
  			  </div>
		
		
                                
                             <div class="bloc rounded" style="margin-top:40px;text-align:left; background-color:#FF99CC">  
                            
                <ul><li><a  href="<%=url("/article/129")%>" title="">Allg. Beantwortung <br>von Leserbriefen </li></ul>
               				
  			  </div>
              
           
			  
                 <div class="bloc rounded" style="margin-top:40px;text-align:left; background-color:#99FFCC">  
                            
                <ul><li><a href="<%=url("/article/82")%>" title="">Wie man einen <br>Artikel schreibt </li></ul>
               				
  			  </div>
              
              <br><br><br>
  			  
  			 			  
              
              
        
  			  
              
              

                     
              
</div>
              
