  <!DOCTYPE html>
  <html lang="de">
  <%= erb :head %>
  <body> 
  	<div class="header-content">
     <a href="/"><img src="<%= url('images/css/topBanner.jpg')%>" id="logo"></a>
     
     <ul class="navi">
       <li><a href="<%= url('willkommen')%>"> WILLKOMMEN</a></li>
       <li><a href="<%= url('videos')%>">VIDEOS</a></li>
       <li><a href="<%= url('musik')%>">MUSIK</a></li>
     </ul>
   </div>
   
   <div id="topSlideshowWrapper"> 
    <div id="sliderContainer">
      <!-- anfang kopiern bannershow -->
      
      <%= 
      @slider if @slider 
      %>
      <!-- end kopiern bannershow -->
    </div><!-- end sliderContainer -->
  </div><!-- end topSlideshowWrapper --> 
  </div>  <!-- end top wrapper -->  

  <div id="wrapper"> 
  <div id="container"> 
    <!--  content -->  
    <div id="content" style="margin-top:20px;">
     
     <%= yield%>    
     
     <div class="clear" style="height:40px"></div> 
   </div> <!-- end container --> 
 </div> <!-- end wrapper -->  
 <div id="bottomWrapper">
    <%= erb :footer %>
  </div> 
  </body>
</html>
