<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Globale Freiheit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="title" content="Globale Freiheit" />
    <meta name="description" content="Globale Freiheit für alle Menschen auf der Welt, anarchie, voluntarismus, libertarismus, libertär, freier Markt, Österreichische schule, freiwillig, bitcoin, " />
    
		
	<meta name="author" content="isomorph" />
	<meta name="email" content="" />
    <meta name="publisher" content="isomorph" />
	<meta name="copyright" content="munselmann" />
    
    <meta name="keywords" content="anarchie, anarchismus, voluntarismus, libertarismus, libertär, freiheit, selbstständig,selbstständigkeit,selbstbestimmt,freiwilligkeit,autonom,autonomie,autonomistisch,ronpaul,thruth,thruthment,movement,occupy,
    								videos,bilder,veranstaltungen,spenden,ausallerwelt,marktwirtschaft,freiemarktwirtschaft,musik,bandbreite,killezmore,guantana-mohr,anarchiex" />
    	
	<link rel="shortcut icon" type="image/x-icon" href="<%= url('css/flav.ico') %>">			

    <meta name="language" content="de" />
    <meta name="subject" content="Site subject here" />
    <meta name="robots" content="All" />
    <meta name="robots" content="index,follow" />
    <meta name="copyright" content="Globale Freiheit" />
    <meta name="abstract" content="Globale Freiheit für alle Menschen auf der Welt" />
    <meta name="MSSmartTagsPreventParsing" content="true" />


    <link id="theme" rel="stylesheet" type="text/css" href="<%= url('css/style.css') %>" title="theme" />
    <link rel="shortcut icon" type="image/x-icon" href="<%= url('css/flav.ico') %>">
	<script type="text/javascript" language="javascript" src="<%= url('js/addon.js') %>"></script>
	<script type="text/javascript" language="javascript" src="<%= url('js/custom.js') %>"></script>
	<script type="text/javascript" language="javascript" src="<%= url('js/main.js') %>"></script>
  </head>
  <body> 
    <!-- top wrapper -->  
    <div id="topWrapper"> 
      <!-- top topBannerWrapper-->
      <div id="topBannerWrapper">
        <div id="topBanner" style="cursor:pointer" onclick="location.href='/'";>
         <div id="hmenuWrapper"> 
         
             <div id="hmenu" align="left" > 
              <ul>
                 <li>
                  <a href="willkommen" shape="rect">Willkommen</a>
                </li>
                <li>
                  <a href="videos" shape="rect">&#124;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Videos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#124;</a>
                </li>
                <li> 
                  <a href="musik" shape="rect">Musik&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>              
                </li>
		<li> 
                  <a href="rubriken" shape="rect">Rubriken&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>              
                </li>
              </ul> 
            </div>

          </div>
       </div><!-- end topBanner -->
      </div><!-- end topBannerWrapper-->
        
             <div id="topSlideshowWrapper"> 
        <div id="sliderContainer">
        <!-- anfang kopiern bannershow -->
        <div id="slider1">  
	        <ul id="slider1Content">
                              
                                                                                    

                  
                	                  	                              
     
                  	                   	                   
              <li class="slider1Image" style="clear:both"></li>
            </ul>  
            <div id="sliderLeftMask"></div>  
            <div id="sliderRightMask"></div> 
          </div><!-- end kopiern bannershow -->
          


    
        </div><!-- end sliderContainer -->
       </div><!-- end topSlideshowWrapper --> 
    </div>  <!-- end top wrapper -->  
      
    <div id="wrapper"> 
      <div id="container"> 
        <!--  content -->  
        <div id="content" style="margin-top:20px;">
        	  
         <%= yield%>    
        	
    <div class="clear" style="height:40px"></div> 
      </div> <!-- end container --> 
    </div> <!-- end wrapper -->  
    <div id="bottomWrapper"> 
      <div id="footer"> 
          
        <div class="footer-one-third" style="text-align: left; float:left"> 
       
          <ul>   
          <br>
 <li>
          <a href="autoren" shape="rect" ><b><font color="#00FFFF"> alle 	
			</font> 	<span style="font-size: 16pt"><font color="#00FFFF">AUTOREN</font></span></b></a>
            </li> <br> <br> 
            
            
            <li>
              <a href="partner" shape="rect"> <b><font color="#FFFF00">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 24pt"> PARTNER</span></font></b> </a>
            </li><br><br>
            
            
               <li>
              <a href="links" shape="rect"><b> 
				<font color="#66FF66" style="font-size: 12pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; LINKS</font></b></a>  
            </li>
            

          </ul>
           
        </div>
          
     
  <div class="footer-one-third footer-last" style="text-align: right; float:right"> 

          <ul>
          
          <br>
          <li>
          <b>
          <a href="veranstaltungen" shape="rect" > 
			<font color="#FF00FF" style="font-size: 24pt">EVENTS</font><font color="#FF66FF" style="font-size: 16pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></a></b>
            </li> <br> <br> 
            
             <li>
             <a href="commu" shape="rect"> <b>
				<font color="#FF9900" style="font-size: 12pt">COMUNITY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></b></font></a>  
            </li>
            <li><br><br>
            
               <b>
               <a href="bitcoins" shape="rect"> 
			<font color="#6699FF" style="font-size: 16pt">BITCOINS</font><font color="#993333" style="font-size: 16pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</font></a></b></li>    
            
            
            
         

  
            </ul>      
       </div> 
       

   
       <!-- end Footer -->   
      </div>
        
      <div id="bottom-links"> 
        <div style="padding-top:20px"> 
           <p align="center"> 
           <a href="impressum.html" shape="rect"> Impressum </a>
           <strong><b>&copy;</b></strong>
           <a href="impressum.html" shape="rect"> Globale Freiheit </a>
        </div> 
      </div>
     <!-- end Bottom -->  
    </div> 
    
        	
 </body>
