<br>
																								
	<p style="font-size: 18px;" align="center">Werden sie unser Partner und unterstützen sie globale Freiheit - von wo, mit was und wie auch immer ...</p>
		
		<p> ... man kann uns auf viele Weisen unterstützen. Wir suchen etwa: Übersetzer, Künstler, Rezensenten, Filmemacher uvm. <br>
				Wer also Lust hat und sich für eine oder mehrere der Kategorien berufen fühlt, der melde sich einfach unter: <br><br>
				
				info@globalefreiheit.de oder 0174-7730554 </p>
				
				<br>
				
				<p>***</p>
				
				<br>
				
		<p> Wir freuen uns auch über jede kleine oder grosse Spende, um unser Angebot ständig erweitern und auch in Zukunft neue Projekte realisieren zu können ... <br> <br>
		
		Unser Spendenkonto bei der Fidor Bank: <br><br>
		
		BIC FDDODEMMXXX <br>
		
		IBAN DE72700222000072044630 <br> <br> <br>
		
		Unsere Bitcoinaddresse: <br><br>
		
		1ApaWHomv8Vt9hAcfSV7uPFn3MPojVZnS8 </p>
		
		<br>
		
		<p>Vielen Dank!</p>
			
		<p>&nbsp;</p>	<p>&nbsp;</p>
		
					<ul>
	<div style="float:left;">
		<a href="http://www.diflow.de/html/"target="_blank"  shape="rect"><img src="<%= url('slider/diflow.jpg')%>" /></a> 
	&nbsp;	&nbsp;&nbsp;	</div>	
	</ul>
	
			<p>&nbsp;</p>		<p>&nbsp;</p> <p>&nbsp;</p>	
	<p>&nbsp;</p> <p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p> <p>&nbsp;</p>


		<ul>
	<div style="float:center;">
	<a href="http://www.freiwilligfrei.info/" target="_blank" shape="rect"><img src="<%= url('slider/fwf.gif')%>" /></a> 
	&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="http://www.schottie.de/"target="_blank"  shape="rect"><img src="<%= url('slider/schottie.jpg')%>" /></a> 
		</div>	
	</ul>
	
	
<p>&nbsp;</p>
<p>&nbsp;</p> <p>&nbsp;</p>

				<ul>
	<div style="float:right;">
	<img src="<%= url('slider/gf.jpg')%>" />
		</div>	
	</ul>
		
		
		
		
	
	



		<ul>
	<div style="float:left;">
	<a href="http://www.mbd-bauservice.de/" target="_blank" shape="rect"><img src="<%= url('slider/mbd.jpg')%>" /></a> 
		</div>	
	</ul>
		
<p>&nbsp;</p><p>&nbsp;</p>
			<p>&nbsp;</p>
<p>&nbsp;</p> <p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>

		
	





			
			
			
			
		<!------------------------------------------------------------------------------------------------------------------------------------------------------------>	
			
		<p>&nbsp;</p>
              <ul style="list-style:none inside none; text-transform:uppercase;margin:0;padding:0;">
                <li style="width:250px; float:left; margin-right:90px ;">
                  <p align="left" style="text-align: left">
					<span style="text-transform: none"><a href="/" shape="rect">
					<font size=3 font face="Segoe Script"font color="#FF0000">... zurückblättern</font></a></span></p>
                </li>
              
              
              </ul>





</div> 
