<br>


<h3 style="text-align: center">Unsere Videos:</h3>

<br>


<table border="0" width="100%">


			<tr>
				<td><p style="font-size: 18px;"> Freie Gedanken ... von Stefan Blankertz
				
			</p>

<p> Videointerview mit Stefan Blankertz - Teil 1/2  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=TeESiWpLo6s"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm3.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		


			<tr>
				<td><p style="font-size: 18px;"> Freie Gedanken ... von Stefan Blankertz
				
			</p>

<p> Videointerview mit Stefan Blankertz - Teil 2/2  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=-KBilXHdbEw"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm3.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		




			<tr>
				<td><p style="font-size: 18px;"> Die Gestalttherapie
				
			</p>

<p> Videointerview mit Stefan Blankertz  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=e9CTdDYdPXY"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm2.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		


			<tr>
				<td><p style="font-size: 18px;"> Kurzfilm: Die Nichtw채hlererkl채rung
				
			</p>

<p> von Markus Eserver und globalefreiheit.de  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=OdfOlGJsoHQ"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm1.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		



		
			<tr>
				<td><p style="font-size: 18px;"> Kurzfilm: Freies Geld 
				
			</p>

<p> von globalefreiheit.de  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=tvbWlLYbUW0"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		



	
		
		<tr>
				<td></td>
				<td width="35%"></td>
			</tr>
			
			<tr>
				<td colspan="2"><!--<hr>--></td>				
			</tr>
			<tr>
				<td></td>
				<td width="35%"></td>
			</tr>
			<tr>
				<td colspan="2"><!--<hr>--></td>				
			</tr>
			<tr>
				<td></td>
				<td width="35%"></td>
			</tr>

		</table>
		
		



<br>


 <h4>
      <a target="_blank" href="https://www.youtube.com/channel/UC1HrjWl2HtevzaA2XltLUow" 
      class="youtubeverweise">Unser Youtube Channel: GLOBALE FREIHEIT</a>
 </h4>




<br>

<p>&nbsp;<br><br> </p>
<li style="list-style:none inside none;";> &nbsp;
<a href="<%= url('/')%>">
<font color="#FF0000" face="Segoe Script" size="3"> ... zur체ckbl채ttern</font></a></li>
</div>
