<br>


<h3 style="text-align: center">Unsere Videos:</h3>

<br>


<table border="0" width="100%">


			<tr>
				<td><p style="font-size: 18px;"> Freie Gedanken ... von Stefan Blankertz
				
			</p>

<p> Videointerview mit Stefan Blankertz - Teil 1/2  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=TeESiWpLo6s"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm3.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		


			<tr>
				<td><p style="font-size: 18px;"> Freie Gedanken ... von Stefan Blankertz
				
			</p>

<p> Videointerview mit Stefan Blankertz - Teil 2/2  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=-KBilXHdbEw"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm3.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		




			<tr>
				<td><p style="font-size: 18px;"> Die Gestalttherapie
				
			</p>

<p> Videointerview mit Stefan Blankertz  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=e9CTdDYdPXY"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm2.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		


			<tr>
				<td><p style="font-size: 18px;"> Kurzfilm: Die Nichtwählererklärung
				
			</p>

<p> von Markus Eserver und globalefreiheit.de  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=OdfOlGJsoHQ"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm1.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		



		
			<tr>
				<td><p style="font-size: 18px;"> Kurzfilm: Freies Geld 
				
			</p>

<p> von globalefreiheit.de  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=tvbWlLYbUW0"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		





		
		
			
		
			<tr>
				<td><p style="font-size: 18px;"> FRESHTALK #1 - Thema: Gewalt gegen Kinder
				
			</p>

<p> mit Peter und Michael von FreiwilligFrei, Milan und Karl  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=GeY-E0eqSZ0"title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/f1.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		

		
		
			<tr>
				<td><p style="font-size: 18px;"> FRESHTALK #2 - Thema: Etatisten
				
			</p>

<p> mit Charly Krüger, Milan und Karl  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=YUMf0y6vWEg&list=UUSLnD8xd-81Lc96OE9kBkOQ%22title=%22%22%20target=%22_blank%22%20shape=%22rect%22%3EFRESHTALK%20#2%20%3Cbr%3E%20mit%20Charly%20Krueger%20%3Cbr%3E%20Thema:%20Etatisten%20%20%3C/a%3E%3C/h2%3E%3Cbr%3E%3Ch2%3E%3Ca%20class=%22article%22%20href=%22https://www.youtube.com/watch?v=pw8mNudjpIE&feature=youtu.be"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/f2.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		

	
		
		
		
		
			<tr>
				<td><p style="font-size: 18px;"> FRESHTALK #3 - Thema: Fussball
				
			</p>

<p> mit Oliver Janich, Milan und Karl  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=pw8mNudjpIE"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/f3.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		






		
			
			<tr>
				<td><p style="font-size: 18px;"> CRASHTALK #1 - AnCap vs AnCom </p>

<p> mit Finn, Tim, Milan und Karl </p>

<p> <li> <a href="https://www.youtube.com/watch?v=dhAcv1dn2V4"title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/avsa.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		
		
		
		
		
			<tr>
				<td><p style="font-size: 18px;"> CRASHTALK #2 - AnCap vs Marxismus </p>

<p> mit Martin, Tim und Karl </p>

<p> <li> <a href="https://www.youtube.com/watch?v=dPfHGPP6Cqs"title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/avsm.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		
		

	
		
		
			<tr>
				<td><p style="font-size: 18px;"> CRASHTALK #3 - AnCap vs AnCap </p>

<p> mit Norbert Lennartz, Stefan Blankertz, Milan und Karl </p>

<p> <li> <a href="https://www.youtube.com/watch?v=KsNjb2mnwVI"title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/avsa2.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		
		
		






<tr>
				<td><p style="font-size: 18px;"> CRASHTALK #4 - Was wird aus der PdV?
				
			</p>

<p> Mit Maria Theresia Zanke und Sven Teichmann von der PdV, Milan und Karl  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=CmFq-AXDndw"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/avspdv.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		
		
		


	
		
		<tr>
				<td></td>
				<td width="35%"></td>
			</tr>
			
			<tr>
				<td colspan="2"><!--<hr>--></td>				
			</tr>
			<tr>
				<td></td>
				<td width="35%"></td>
			</tr>
			<tr>
				<td colspan="2"><!--<hr>--></td>				
			</tr>
			<tr>
				<td></td>
				<td width="35%"></td>
			</tr>

		</table>
		
		



<br>


 <h4>
      <a target="_blank" href="https://www.youtube.com/channel/UC1HrjWl2HtevzaA2XltLUow" 
      class="youtubeverweise">Unser Youtube Channel: GLOBALE FREIHEIT</a>
 </h4>




<br>

<p>&nbsp;<br><br> </p>
<li style="list-style:none inside none;";> &nbsp;
<a href="<%= url('/')%>">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
</div>
