<br>


<h3 style="text-align: center">Unsere Videos:</h3>

<br>


<table border="0" width="100%">


			<tr>
				<td><p style="font-size: 18px;"> Freie Gedanken ... von Stefan Blankertz
				
			</p>

<p> Videointerview mit Stefan Blankertz - Teil 1/2  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=TeESiWpLo6s"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm3.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		


			<tr>
				<td><p style="font-size: 18px;"> Freie Gedanken ... von Stefan Blankertz
				
			</p>

<p> Videointerview mit Stefan Blankertz - Teil 2/2  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=-KBilXHdbEw"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm3.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		




			<tr>
				<td><p style="font-size: 18px;"> Die Gestalttherapie
				
			</p>

<p> Videointerview mit Stefan Blankertz  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=e9CTdDYdPXY"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm2.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		


			<tr>
				<td><p style="font-size: 18px;"> Kurzfilm: Die Nichtwählererklärung
				
			</p>

<p> von Markus Eserver und globalefreiheit.de  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=OdfOlGJsoHQ"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm1.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		



		
			<tr>
				<td><p style="font-size: 18px;"> Kurzfilm: Freies Geld 
				
			</p>

<p> von globalefreiheit.de  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=tvbWlLYbUW0"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/fm.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		



	
			
		
			<tr>
				<td><p style="font-size: 18px;"> FRESHTALK #4 - Flüchtlingskrise & Staatsgrenzen 
				
			</p>

<p> mit Stefan Blankertz, Meikel White, Klaus Heck und Karl
 </p>

<p> <li> <a href="https://www.youtube.com/watch?v=eXmOI-vimHo"title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/111_small.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		


		
	

		
		
		
			<tr>
				<td><p style="font-size: 18px;"> FRESHTALK #3 - Thema: Fussball
				
			</p>

<p> mit Oliver Janich, Milan und Karl  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=pw8mNudjpIE"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/f3.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		

		
		
			<tr>
				<td><p style="font-size: 18px;"> FRESHTALK #2 - Thema: Etatisten
				
			</p>

<p> mit Charly Krüger, Milan und Karl  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=YUMf0y6vWEg&list=UUSLnD8xd-81Lc96OE9kBkOQ%22title=%22%22%20target=%22_blank%22%20shape=%22rect%22%3EFRESHTALK%20#2%20%3Cbr%3E%20mit%20Charly%20Krueger%20%3Cbr%3E%20Thema:%20Etatisten%20%20%3C/a%3E%3C/h2%3E%3Cbr%3E%3Ch2%3E%3Ca%20class=%22article%22%20href=%22https://www.youtube.com/watch?v=pw8mNudjpIE&feature=youtu.be"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/f2.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		

	
		


	
			
		
			<tr>
				<td><p style="font-size: 18px;"> FRESHTALK #1 - Thema: Gewalt gegen Kinder
				
			</p>

<p> mit Peter und Michael von FreiwilligFrei, Milan und Karl  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=GeY-E0eqSZ0"title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/f1.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		







		
	

<tr>
				<td><p style="font-size: 18px;"> CRASHTALK #5 - Staatsgrenzen
			</p>

<p> Mit Oliver Janich und Karl  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=xn8bR13ISgo"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/ct5.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		
		
<tr>
				<td><p style="font-size: 18px;"> CRASHTALK #4 - Was wird aus der PdV?
				
			</p>

<p> Mit Maria Theresia Zanke und Sven Teichmann von der PdV, Milan und Karl  </p>

<p> <li> <a href="https://www.youtube.com/watch?v=CmFq-AXDndw"
title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/avspdv.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		
			
		
		
			<tr>
				<td><p style="font-size: 18px;"> CRASHTALK #3 - AnCap vs AnCap </p>

<p> mit Norbert Lennartz, Stefan Blankertz, Milan und Karl </p>

<p> <li> <a href="https://www.youtube.com/watch?v=KsNjb2mnwVI"title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/avsa2.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		
		
		
		
		
			<tr>
				<td><p style="font-size: 18px;"> CRASHTALK #2 - AnCap vs Marxismus </p>

<p> mit Martin, Tim und Karl </p>

<p> <li> <a href="https://www.youtube.com/watch?v=dPfHGPP6Cqs"title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/avsm.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		
		

		
			
			<tr>
				<td><p style="font-size: 18px;"> CRASHTALK #1 - AnCap vs AnCom </p>

<p> mit Finn, Tim, Milan und Karl </p>

<p> <li> <a href="https://www.youtube.com/watch?v=dhAcv1dn2V4"title="" target="_blank" shape="rect">
  hier klicken: youtube.com </a></li>
</p>
  </td>
				<td width="35%"><img src="<%= url('slider/avsa.jpg')%>" /></td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>				
			</tr>
		
		
		
		
	



	
		
		<tr>
				<td></td>
				<td width="35%"></td>
			</tr>
			
			<tr>
				<td colspan="2"><!--<hr>--></td>				
			</tr>
			<tr>
				<td></td>
				<td width="35%"></td>
			</tr>
			<tr>
				<td colspan="2"><!--<hr>--></td>				
			</tr>
			<tr>
				<td></td>
				<td width="35%"></td>
			</tr>

		</table>
		
		



<br>


<p style="text-align: center">***</p>




<br>
<span style="font-size:150%">
	
	
	

<br>

<div id="spaltencontainer">


  <div class="spalte">

    <h4>Youtube-Kan&auml;le (deutsch):</h4>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UC1HrjWl2HtevzaA2XltLUow" class="youtubeverweise">GLOBALE FREIHEIT</a>
      </li>
    
        <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCSLnD8xd-81Lc96OE9kBkOQ" class="youtubeverweise">Charly Krüger</a>
      </li>
      
      <li>
      <a target="_blank" href="https://www.youtube.com/user/Chlorhuhn" class="youtubeverweise">Chlorhuhn</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/Freiheitsfunke" class="youtubeverweise">Freiheitsfunke</a>
      </li>
    
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/FreiwilligFrei" class="youtubeverweise">freiwilligfrei</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCfQJbKi49Xt9SzppAZgAPVg" class="youtubeverweise">Goldener Broiler</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/heikophilo" class="youtubeverweise">Heiko Cochius</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/Wertewirtschaft" class="youtubeverweise">Institut f&uuml;r Wertewirtschaft</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/manuelmeint" class="youtubeverweise">Manuel Meint</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/CredereChannel" class="youtubeverweise">Martin Finger</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCz0k8rJctAmuweFc86_xj-g" class="youtubeverweise">Michael Siegmund</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/misesde" class="youtubeverweise">Misesde</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/oheuler" class="youtubeverweise">Oliver Heuler</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/OliverJanich" class="youtubeverweise">Oliver Janich</a>
      </li>
   
        <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCtzidL8XjgGmIlMEyGG52XA" class="youtubeverweise">Roberto Solano</a>
      </li>
      
      <li>
      <a target="_blank" href="https://www.youtube.com/user/SonsofLibertas" class="youtubeverweise">Sons of Libertas</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCxctM4ryyQl2_lqOfyYkgYg" class="youtubeverweise">Stimme der Vernunft</a>
      </li>
    
    
  </div>
         

  <div class="spalte">

    <h4>Youtube-Kan&auml;le (englisch):</h4>
   
            <li>
      <a target="_blank" href="https://www.youtube.com/user/AdamKokesh" class="youtubeverweise">Adam Kokesh</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/JacobSpinney" class="youtubeverweise">Jacob Spinney</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/jatucker321" class="youtubeverweise">Jeffrey Tucker</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/JosieTheOutlaw1" class="youtubeverweise">Josie Outlaw1</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/LarkenRose" class="youtubeverweise">Larken Rose</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/channel/UCFJNcE0iHj7P6dhp5iCZRLg" class="youtubeverweise">LearnLiberty</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/LewRockwellShow" class="youtubeverweise">Lew Rockwell</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/LibertyInOurTime" class="youtubeverweise">LibertyinOurTime</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/user/praxgirl" class="youtubeverweise">Praxgirl</a>
      </li>
   
      <li>
      <a target="_blank" href="https://www.youtube.com/watch?v=YX14hDJTI4s" class="youtubeverweise">Robert Murphy</a>
      </li>
      <li>
      <a target="_blank" href="https://www.youtube.com/user/StatelessLiberty" class="youtubeverweise">StatelessLiberty</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/stefbot" class="youtubeverweise">Stefan Molyneux</a>
      </li>
    
      <li>
      <a target="_blank" href="https://www.youtube.com/user/nskinsella" class="youtubeverweise">Stephan Kinsella</a>
      </li>
    
     
  </div>

                
      
                  
   
</div>


                  	
<br style="clear:both;">
<p>&nbsp;<br><br> </p>




  
      
              
</div>


<br>

<p>&nbsp;<br><br> </p>
<li style="list-style:none inside none;";> &nbsp;
<a href="<%= url('/')%>">
<font color="#FF0000" face="Segoe Script" size="3"> ... zurückblättern</font></a></li>
</div>
